/* "Crystal Collector" stylesheet */

img {
    height: 100px;
    width: 100px;
}

html {
    height: 100%;
  }
  
body { 
    background-image: url("spacebg.jpg");
  
    height: 100%; 
  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  * {
      color: goldenrod;
  }

  .jumbotron, .card, button {
      background-color: rgb(30, 0, 139);
  }

  .modal-header, .modal-footer  {
    background-color: rgb(35, 32, 41);
  }

  #modal-img {
    width: 300px;
    height: auto;
  }
  
  @media only screen and (max-width: 425px) {
    img {
      height: 80px;
      width: 80px;
    }
    #modal-img {
      width: 200px;
    }
  }